PORT=8081
MQTT_URL=mqtt://mqtt:1883
MQTT_TOPIC_SCAN=/api/v1/scan
MQTT_QOS=0
MQTT_CLIENT_ID=lokato-realtime
MQTT_MAX_PAYLOAD_BYTES=4096
DB_HOST=db
DB_PORT=3306
DB_DATABASE=lokato_db
DB_USER=admin
DB_PASSWORD=admin
DB_POOL_LIMIT=10
